h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bold;
    
    
}
h4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    color: rgb(51, 49, 49);
}
ion-content.background{
    --background: url(../../assets/bg16.jpg) 0 0/100% 100% no-repeat;
  }