<ion-header>
  <ion-toolbar>
    <ion-title>Explore The Ceramics World!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col text-center>

        <div class="topnav" >
          <a class="active" href="#home">Home</a>
          <a href="#about">About</a>
          <a href="#contact">Contact</a>
          <ion-searchbar showcancelbutton="" debounce="500" (ionChange)="ionChange($event)"></ion-searchbar>
          <!-- <a>
            <div class="camera">
              <div class="photo-button">
                <div class="circle"></div>
                <div class="ring"></div>
              </div>
              </div>
            </a> -->

  
          
        </div>

      </ion-col>
    </ion-row>

  

    <ion-list lines="none">
      <ion-item *ngFor="let potteryItem of potteryList">
        <ion-label class="ion-text-wrap">
          <ion-text color="primary">
            <h3>{{ potteryItem.Type }}</h3>
          </ion-text>
          <p>{{ potteryItem.photo }} -- {{ potteryItem.period }}</p>
        </ion-label>
      </ion-item>
    </ion-list>


    
  </ion-grid>

  
</ion-content>

<ion-content padding>
  <!-- <ion-card>
    <ion-card-content>

    <button ion-button icon-right (click)="onTakePicture()">
      Take Picture <ion-icon name="camera"></ion-icon>
    </button>

    <img *ngIf="image$ | async as image"
      [src]="domSanitizer.bypassSecurityTrustUrl(image)" />

    </ion-card-content>
  </ion-card> -->

  <!-- <display-error [error]="error$"></display-error> -->
</ion-content>  
<ion-grid>
  <ion-row class="ion-align-self-center">
    <ion-col size="6">
      <ion-button (click)="takePhoto(1)">Show Camera</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button (click)="takePhoto(0)">Show Album</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
<div *ngIf="base64Image">
  <img [src]="base64Image">
  <ion-button (click)="upload()">Upload to Firebase!</ion-button>
</div>

<div class="padding">  
  <ion-button shape="round" color="danger" (click)="takeSnap()">  
        Click Image
      </ion-button>  
      <img [src]="capturedSnapURL" />  
    </div> 


<ion-button type="submit" color="danger" expand="block" (click)="signOut()">Signout</ion-button>

