<ion-header>
  <ion-toolbar>
    <ion-title>Explore The Ceramics World!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
  
          <!--<ion-searchbar placeholder="Search Here" debounce="500" (ionInput)="search($event)" [(ngModel)]="searchKey"></ion-searchbar>
          -->
            <ion-searchbar [formControl]="searchField" debounce="400" >
          </ion-searchbar>
          <!-- <a>
            <div class="camera">
              <div class="photo-button">
                <div class="circle"></div>
                <div class="ring"></div>
              </div>
              </div>
            </a> -->

  
          
     

     

  

    <ion-list lines="none" >
      <ion-item *ngFor="let potteryItem of potteryListBackup">
        <ion-label class="ion-text-wrap">
          <ion-text color="primary"> 
            <h3>{{ potteryItem.Type }}</h3>
          </ion-text>
           <div class ="img"><img src="{{potteryItem.url}}" ></div>
          
         
          <p>{{ potteryItem.period }}</p>
        </ion-label>
      </ion-item>
    </ion-list>

    
  </ion-grid>

  
</ion-content>


<ion-content padding>
  <!-- <ion-card>
    <ion-card-content>

    <button ion-button icon-right (click)="onTakePicture()">
      Take Picture <ion-icon name="camera"></ion-icon>
    </button>

    <img *ngIf="image$ | async as image"
      [src]="domSanitizer.bypassSecurityTrustUrl(image)" />

    </ion-card-content>
  </ion-card> -->

  <!-- <display-error [error]="error$"></display-error> -->
</ion-content>  
<!-- <ion-grid>
  <ion-row class="ion-align-self-center">
    <ion-col size="6">
      <ion-button (click)="takePhoto(1)">Show Camera</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button (click)="takePhoto(0)">Show Album</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
<div *ngIf="base64Image">
  <img [src]="base64Image">
  <ion-button (click)="upload()">Upload to Firebase!</ion-button>
</div> -->


<ion-content>

  <ion-grid *ngIf="imageTaken">
    <ion-row style="text-align: center;">
      <img [src]="imageTaken" alt="" style="margin: 0 auto;">
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row class="ion-align-self-center">
      <ion-col size="6" style="text-align: right;">
        <ion-button (click)="takePhoto()">Take a Picture</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button (click)="uploadImage()" color="secondary">Upload Image</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div *ngIf="base64Image">
    <img [src]="base64Image">
    <ion-button (click)="upload()">Upload to Firebase!</ion-button>
  </div>


  <ion-button type="submit" (click)="sendPostRequest()">Predict</ion-button>


  
  <!-- <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let photo of photoService.photos; index as position">
        <ion-img [src]="photo.webviewPath" (click)="showActionSheet(photo, position)"></ion-img>
   
    
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <!-- ion-fab markup  -->
</ion-content>
<ion-content>
<ion-row>
  <ion-col text-center>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
    <div class="topnav" >
      <a class="active" href="#home">Home</a>
      <a href="#about">About</a>
      <a href="#contact">Contact</a>
    </div>
    </ion-tab-bar>
  </ion-tabs>
</ion-col>
</ion-row>
</ion-content>


<!-- <ion-content>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="addPhotoToGallery()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content> -->

<!-- <div class="padding">  
  <ion-button shape="round" color="danger" (click)="takeSnap()">  
        Click Image
      </ion-button>  
      <img [src]="capturedSnapURL" />  
    </div>  -->




<ion-button type="submit" color="danger" expand="block" (click)="signOut()">Signout</ion-button>

