<ion-header>
  <ion-toolbar>
    <ion-title class="ios">ARC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="search" class="ion-padding">
  <ion-grid>

    <ion-row>
      <ion-col text-center>

        <div class="topnav" >
          <a class="active" href="#home">Home</a>
    
          <ion-searchbar placeholder="Search Here" debounce="500" (ionInput)="search($event)" [(ngModel)]="searchKey"></ion-searchbar>

        </div>

      </ion-col>
    </ion-row>
    
    <ion-list lines="none" class = "md" >
      <ion-item *ngFor="let potteryItem of potteryListBackup">
        <ion-label class="ion-text-wrap">
          <ion-text color="primary"> 
            
          </ion-text>
           <div class ="img"><img src="{{potteryItem.url}}" height="100" width="100" ></div>
          
           <h3>Type: {{ potteryItem.Type }}</h3>
          <p>Period:{{ potteryItem.period }}</p>
        </ion-label>
      </ion-item>
    </ion-list>

 
  </ion-grid>

  
</ion-content>


<!-- 
<ion-content padding>
-->
  <!-- <ion-card>
    <ion-card-content>

    <button ion-button icon-right (click)="onTakePicture()">
      Take Picture <ion-icon name="camera"></ion-icon>
    </button>

    <img *ngIf="image$ | async as image"
      [src]="domSanitizer.bypassSecurityTrustUrl(image)" />

    </ion-card-content>
  </ion-card> -->

  <!-- <display-error [error]="error$"></display-error> -->
 
<!-- <ion-grid>
  <ion-row class="ion-align-self-center">
    <ion-col size="6">
      <ion-button (click)="takePhoto(1)">Show Camera</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button (click)="takePhoto(0)">Show Album</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
<div *ngIf="base64Image">
  <img [src]="base64Image">
  <ion-button (click)="upload()">Upload to Firebase!</ion-button>
</div> -->


<ion-content>

  <ion-grid *ngIf="imageTaken">
    <ion-row style="text-align: center;">
      <img [src]="imageTaken" alt="" style="margin: 0 auto;">
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row class="ion-align-self-center">
      <ion-col size="6" style="text-align: right;">
        <ion-button (click)="takePhoto()">Take a Picture</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button (click)="uploadImage()" color="secondary">Upload Image</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div *ngIf="base64Image">
    <img [src]="base64Image">
    <ion-button (click)="upload()">Upload to Firebase!</ion-button>
  </div>


  <ion-button type="submit" (click)="sendPostRequest()">Predict</ion-button>

  <!-- ion-fab markup  -->
</ion-content>
<ion-content>
<ion-row>
  <ion-col text-center>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
    <div class="topnav" >
      <a class="active" href="#home">Home</a>
      <a href="#about">About</a>
      <a href="#contact">Contact</a>
    </div>
    </ion-tab-bar>
  </ion-tabs>
</ion-col>
</ion-row>
</ion-content>

<ion-button type="submit" color="danger" expand="block" (click)="signOut()">Signout</ion-button>

