<ion-header>
  <ion-toolbar>
    <ion-title class="ios">Search</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="search" class="ion-padding">
  <ion-grid>

    <ion-row>
      <ion-col text-center>

        <div class="topnav" >
          <!-- <a class="active" href="#home">Home</a> -->
    
          <ion-searchbar placeholder="Search Here" debounce="500" (ionInput)="search($event)" [(ngModel)]="searchKey" ></ion-searchbar>
          <!-- <ion-searchbar placeholder="Search Here" debounce="500" (keyup)="searchbar($event)" [(ngModel)]="searchKey" ></ion-searchbar> -->

        </div>

      </ion-col>
    </ion-row>
    
    <ion-list lines="none" class = "md" >
      <ion-grid>
        <ion-row>
          <ion-col id="col">
      <ion-item *ngFor="let potteryItem of potteryListBackup">
        <ion-label class="ion-text-wrap">
          <ion-text color="primary"> 
            
          </ion-text>
          
           <div class ="img"><img src="{{potteryItem.url}}" height="100" width="100" ></div>
         
          
           <h3>Type: {{ potteryItem.Type }}</h3>
          <p>Period:{{ potteryItem.period }}</p>
        </ion-label>
      </ion-item>
    </ion-col>

    </ion-row>
    </ion-grid>
    </ion-list>

 
  </ion-grid>

  
</ion-content>

<ion-tab-bar slot="bottom">
  
  <ion-tab-button type="submit" color="danger" expand="block" (click)="about()">
    <ion-icon name="information-circle"></ion-icon>
    <ion-label>About</ion-label>
  </ion-tab-button>

  <ion-tab-button type="submit" color="danger" expand="block" (click)="home()">
    <ion-icon name="Home"></ion-icon>
    <ion-label>Home</ion-label>
  </ion-tab-button>

  <ion-tab-button type="submit" color="danger" expand="block" (click)="signOut()">
    <ion-icon name="log-out-outline"></ion-icon>
    <ion-label>Signout</ion-label>
  </ion-tab-button>
</ion-tab-bar>
  
  
