<ion-header>
  <ion-toolbar color="danger"><small>
    <ion-title >Registeration</ion-title></small>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" class="background">
  <br>
  <br>
  <form class="form" [formGroup]="userForm" (ngSubmit)="signUp(userForm.value)">
    <ion-item id = "input">
      <ion-label  position="floating">Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    
    <ng-container *ngFor="let error of error_msg.email">
      <div *ngIf="userForm.get('email').hasError(error.type) && (userForm.get('email').dirty || userForm.get('email').touched)">
        {{ error.message }}
      </div>
    </ng-container>

 

    <ion-item id = "input">
      <ion-label  position="floating" color="primary">First Name</ion-label>
      <ion-input  type="text" formControlName="first_name" class="form-controll" required></ion-input>
    </ion-item>


    <ion-item id = "input">
      <ion-label position="floating" color="primary">Last Name</ion-label>
      <ion-input type="text" formControlName="last_name" class="form-controll" required></ion-input>
    </ion-item>

  

    <ion-item id = "input">
      <ion-label position="floating" color="primary">Password</ion-label>
      <ion-input  type="password" formControlName="password" class="form-controll" required></ion-input>
    </ion-item>

    <ion-item id = "input">
      <ion-label  position="floating" color="primary">Confirm Password</ion-label>
      <ion-input  type="password" formControlName="Confirm_password" class="form-controll" required></ion-input>
    </ion-item>

    <!-- <ion-item class='form-text error' *ngIf="userForm.controls.confirm_Password.touched && userForm.hasError('mismatchedPasswords') && userForm.controls.password.valid">
      <ion-label no-margin stacked>Passwords do not match</ion-label>
    </ion-item> -->
    <ng-container>
      <div form [formGroup]="userForm" *ngIf="userForm.controls.Confirm_password.touched && userForm.hasError('mismatchedPasswords') && userForm.controls.password.valid">
        <!-- {{ error.message }} -->
        <ion-label no-margin stacked>Passwords do not match</ion-label>
      </div>
  </ng-container>

   
    
    <ng-container *ngFor="let error of error_msg.password">
        <div *ngIf="userForm.get('password').hasError(error.type) && (userForm.get('password').dirty || userForm.get('password').touched)">
          {{ error.message }}
        </div>
    </ng-container>

    <ion-button type="submit" expand="block" [disabled]="!userForm.valid">Register</ion-button>
    
    <label class="ion-text-center" color="danger">{{errorMsg}}</label>
    <label class="ion-text-center" color="success">{{successMsg}}</label>
  </form>
  <p class="ion-text-center">Already registered? <a (click)="goToLogin()">Login</a></p>
</ion-content>